arabic-reshaper
asgiref
asn1crypto
certifi
cffi
chardet
charset-normalizer
click
cmake
colorama
crispy-bootstrap4
crispy-bootstrap5
cryptography
cssselect
diff-match-patch
distlib
Django
django-crispy-forms
django-import-export
dlib
et_xmlfile
face-recognition
face_recognition_models
filelock
html5lib
idna
lxml
mysqlclient
numpy
opencv-python
opencv-python-headless
openpyxl
oscrypto
pandas
pillow
platformdirs
pycparser
pyHanko
pyhanko-certvalidator
pypdf
python-dateutil
python-decouple
python-docx
pytz
PyYAML
qrcode
reportlab
requests
setuptools
six
sqlparse
svglib
tablib
tinycss2
typing_extensions
tzdata
tzlocal
uritools
urllib3
virtualenv
webencodings
whitenoise
xhtml2pdf
